html, body {
  background: url('https://images.unsplash.com/uploads/1413595244012e81f5c69/de0cc225?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b019868c314903110f248b3a5cbd36e4&auto=format&fit=crop&w=1050&q=80') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

.submit-form {
  height: 200px;
  width: 300px;
  margin: 25px;
  border: 3px solid #4287f5;
  position: absolute;
  top: 35%;
  left: 35%;
}

/* .form-child {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
} */